@* 
 * author Clinton Freeman <clintonfreeman@infusion.com> 
 * date 2014-06-10
 *@

@{
    Layout = "~/Views/Shared/_GenericLayout.cshtml";
}

<header>
    @Html.Partial("_NavigationPartial")
</header>

<section id="home" class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" id="logo-wrapper">
                <img id="logo" src="/Content/assets/irc-logo.png" alt="Logo">
            </div>
            <div class="col-sm-6" id="lead-wrapper">
                @RenderSection("description", false)
            </div>
        </div>
    </div>
</section>

@RenderBody()

@section Scripts {
    @RenderSection("scripts", required: false)
}