@* 
 * author Clinton Freeman <clintonfreeman@infusion.com> 
 * date 2014-06-10
 *@

@{
    ViewBag.Title = "About";
}

@section description {
    <p class="lead">yo what up</p>
}

<section class="container">
    <h1>About</h1>
    <p>About content goes here.</p>
</section>